/* body */

body
{
	width: 95%;
	min-width: 1366px;
	max-width: 768px;
	background-color: LightSteelBlue;
	color: white;
}

h1.siteName
{
	display: block;
	text-align: center;
	font-size: 80px;
}
header
{
	text-align: center;
}

nav.navBar
{
	text-align: center;
}

section.content
{
	display: block;
	text-align: center;
	padding-top: 100px;
	color: grey;
	font-size: 24px;
}

/* Footer */

footer
{
	color: grey;
	position: fixed;
	bottom: 0;
	text-align: center;
}


/*Fonts */

@font-face 
{
    font-family: 'liberation_sansregular';
    src: url('/fonts/woff/LiberationSans-Regular-webfont.woff') format('woff'),
         url('/fonts/ttf/LiberationSans-Regular-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

@font-face 
{
    font-family: 'liberation_sansbold';
    src: url('/fonts/woff/LiberationSans-Bold-webfont.woff') format('woff'),
         url('/fonts/ttf/LiberationSans-Bold-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

@font-face 
{
    font-family: 'liberation_sansbold_italic';
    src: url('/fonts/woff/LiberationSans-BoldItalic-webfont.woff') format('woff'),
         url('/fonts/ttf/LiberationSans-BoldItalic-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

@font-face 
{
    font-family: 'liberation_sansitalic';
    src: url('/fonts/woff/LiberationSans-Italic-webfont.woff') format('woff'),
         url('/fonts/ttf/LiberationSans-Italic-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

